.home{
    height: 93%;
    width: 100%;
    /* background-color: #e6ffff; */
    background-image: linear-gradient(90deg,#d8e9ff,#e6ffff,#fff4fe ,#e6ffff, #d8e9ff);
}

.filter-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogs{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 1rem;
}

.blog-card{
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    height: 26rem;
    box-sizing: border-box;
    /* height: auto; */
    width: 18rem;
    gap: 0.5rem;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background-color: #091525;
    color: white;
    padding-bottom: 0.5rem;
}

.blog-image{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
    top: 0rem !important;
}
.blog-title{
    font-weight: bold;
    margin-left: 0.5rem;
    /* padding-right: 0.1rem; */
    text-align: left !important;
}

.blog-content{
    text-align: left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media screen and (max-width:400px){
    .blogs{
        height: 93%;
        padding: 1rem 0rem;
    }
    .blog-card{
        width: 70%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

@media screen and (max-width:768px){
    .blogs{
        height: 93%;
        padding: 1rem 0rem;
    }
    .blog-card{
        /* width: 30%; */
        /* flex-wrap: nowrap; */
        flex-direction: column;
    }
    .blog-content{
    
    }
}